# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
maven_home/
maven.zip
build_output*

# Application Outputs
generated_slips/
log/
**/*.log

# Python
.venv/
__pycache__/
*.class

# ignore python script outputs
*.txt
!pom.xml

# macOS
.DS_Store

# IDEs
.idea/
.vscode/
*.iml
